:root {
	--box-shadow: 0px 2px 10px rgba(0,0,0,0.2); 
}

* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
		
.main-container form  {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}
		
input, textarea {
	border: 1px solid rgba(0,0,0,0.3);
	padding: 10px;
	background-color: white;	
}
			
select {
	border: 1px solid rgba(0,0,0,0.3);
	padding: 12px;
	background-color: rgba(0,0,0,0.01);	
}
			
label {
	margin-top: 30px;
	font-size: 1.2em;
}
	
.hidden {
	display: none;
}

.justify-center {
	display: flex;
	align-self: center;
}
			
.row {
	display: flex;
	flex-direction: column;
}

.justify-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
				
.form-container {
	padding-bottom: 40px;
}
			
.but-test {
	width: 200px;
	height: 50px;
	background-color: black;
}

.main-container-login {
	position: relative;
	top: 27%;
	margin: 0 auto;
	box-shadow: var(--box-shadow);
}

.main-container-login form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container-login h4 {
	position: relative;
	margin: 0 auto;
}
